<section id="home-news">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <p class="section-header">最新消息</p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <ul>
                    <li ng-repeat="newsItem in newsItems">
                        <div ng-if="newsItem.type == 0">
                            {{newsItem.title}}
                            &nbsp;(<a ng-click="openNewsItemModal(newsItem)">詳情</a>)
                        </div>
                        <div ng-if="newsItem.type == 1">
                            {{newsItem.title}}
                            <span ng-repeat="(key, value) in newsItem.content">&nbsp;(<a ng-href="{{value.link}}">{{value.label}}</a>)</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>