<section id="home-news">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <p class="section-header">{{sectionTitle}}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <ul>
                    <li ng-repeat="newsItem in ::newsItems track by newsItem.id">
                        <div ng-if="newsItem.type == 0">{{newsItem.title}}</div>
                        <div ng-if="newsItem.type == 1">
                            {{newsItem.title}}
                            <span ng-repeat="(key, value) in newsItem.content">&nbsp;(<a ng-href="{{value.link}}" target="_blank">{{value.label}}</a>)</span>
                        </div>
                        <div ng-if="newsItem.type == 2">
                            {{newsItem.title}}
                            &nbsp;(<a ng-click="openNewsItemModal(newsItem)">詳情</a>)
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>