// This project utilize the flex grid of founcation framework which is more flexible than the bootstrap's grid system
@import "bootstrap";
@import "gallery";

body {
  padding-top: 30px;
  padding-right: 0 !important;
  overflow: scroll !important;
  border-top: 2px solid $brand-success;
}

$box-size: 10px;

hr {
  max-width: 1000px;
  width: 80%;

  &:after {
    position: absolute;
    width: $box-size;
    height: $box-size;
    content: "";
    margin-top: - $box-size / 2;
    margin-left: - $box-size / 2;
    left: 50%;
    background-color: $gray;
    @include rotate(45deg);
  }
}

h2, h3, h4 {
  width: 100%;
  text-align: center;
}

h5 {
  font-size: 16px;
}

@media (min-width: $screen-md) {
  .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse {
    padding-left: 0;
    padding-right: 15px;
  }
}

@media (min-width: $grid-float-breakpoint-max) {
  .navbar-nav {
    > li:first-child {
      a {
        padding-left: 0;
      }
    }
  }

  .navbar-collapse {
    padding-left: 0;
  }
}

footer {
  .label {
    line-height: 20px;
  }
}

#website-title {
  font-size: 32px;
}

.section-header {
  padding: 10px;

  border-bottom: 1px solid $gray;
  font-size: 24px;
  margin: 0 20% 50px 20%;

}