.contact-box {
    position: relative;
    padding-left: 288px;
    text-align: left;
    
    > img {
        position: absolute;
        left: 0;
        
    }
    
    > div {
        margin-bottom: 5px;
    }
    
    .email, .tel {
        font-size: 1.5em;
    }
    
    .inline-label {
        color: #ccc;
    }
}

.location-box-wrapper {
    margin-bottom: 10px;
    border-right: 5px solid #333;
    background: #CCC;
}

.address-box {
    position: relative;
    padding-left: 96px;
    text-align: left;
    
    > img {
        position: absolute;
        left: 0;
    }
    
    h4 {
        color: #373737;
    }
}

#contacts, #maps {
    padding: 20px 0;
    color: #000;
}

#maps {    
    .location-box-wrapper, .map-wrapper {
        padding: 0;
    }
}