#members {

  .members-image {
    max-width: 95%;
  }

  #members-list > tbody > tr > td {

    &:nth-child(1) {
      min-width: 100px;
      width: 40%;
      text-align: center;
    }

    &:nth-child(2) {
      text-align: center;
    }

  }

}
